.introjs-helperNumberLayer {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-shadow: none;
    width: 28px;
    height: 28px;
    line-height: 20px;
    border: none;
	left: -13px;
    top: -15px;
    border-radius: 50%;
    background: #F48F3B;
}
.introjs-helperLayer {
    background-color: #FFF;
    background-color: rgba(255, 255, 255, .9);
    border: none;
    border-radius: 2px;
}
.introjs-tooltip {
    letter-spacing: .1em;
    color: #000000;
    border-radius: 3px;
    font-size: 15px !important;
    font-family: 'Open Sans', sans-serif;
}
.introjs-button {
    overflow: hidden !important;
	text-overflow: ellipsis !important;
	max-width: 67px !important;
	margin: 4px;
	padding: 3px;
	padding: 0.6em 0.4em 0.6em 0.4em;
    text-shadow: none;
    text-align: center;
    color: #fff;
    background: #9A9B9C;
    background-image: none;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: 0.2em;
    -webkit-transition: background .3s, border .3s;
    -moz-transition: background .3s, border .3s;
    -ms-transition: background .3s, border .3s;
    -o-transition: background .3s, border .3s;
    transition: background .3s, border .3s;
    font-family: 'Open Sans', sans-serif;
}
.introjs-prevbutton {
    border-radius: .2em;
}
.introjs-button:hover,
.introjs-button:focus {
    background: #F48F3B !important;
    color: #fff;
    box-shadow: none;
    border-color: #F48F3B;
    text-decoration: none;
}
.introjs-nextbutton-highligh {
    background: #F48F3B !important;
	border-color: #F48F3B;
}
.introjs-donebutton-highligh {
    background: #F48F3B !important;
	border-color: #F48F3B;
}